SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgres://project_d_user:password@127.0.0.1:5432/project_d
DEFAULT_FROM_EMAIL=verified@example.com
SENDGRID_API_KEY=your-sendgrid-api-key
